@import "../../node_modules/bootstrap/scss/bootstrap";

$company-red: #E73F49;
$red: $company-red !default;
.btn-danger {
  color: #fff;
  background-color: $company-red;
  border-color: $company-red;
}
*{
  font-family: Avenir,Futura, sans-serif;
}
//this removes border around hamburger icon in navbar
.navbar-light .navbar-toggler {
  border-color:transparent;
}
.navbar-brand{
  visibility: hidden;
}
.btn:focus, a:focus
{
  outline: none;
}
.navbar-toggler:focus, input:focus
{
  outline: none !important;
  box-shadow: none;
}

// on scroll give navbar a bg color
.bg-not-transparent{
  background-color: rgba(10,0,0,0.8) !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255,1);
}
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}
.navbar-inner {
  background:transparent;
}
.navbar-nav a{
  color: whitesmoke;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 0.5rem;
}
.bg-light {
  background-color: white !important;
}
.show-brand{
  visibility: visible;
}

//hero image section
.jumbotron{
  background: url("../img/heroImg.png") no-repeat  center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  border-radius: 0;
  h1{
    Font-size: clamp(3rem, calc(5vw + 1rem) , 4.5rem);
    font-weight:600;
    font-family: Avenir,sans-serif;
  }
  p{
    font-size: 2em;
  }
  .square{
    width: 20vw;
  }
}

//carousel
.carousel{
  margin: 50px auto;
  padding: 0 70px;
}
.carousel-item{
  color: #999;
  font-size: 14px;
  overflow: hidden;
  text-align: center;
  min-height: 290px;

}
.testimonial{
  font-weight: bold;
  color: black;
}
.carousel .item .img-box{
  width: 135px;
  height: 135px;
  padding: 5px;
  margin:0 auto;
  img{
    width: 100%;
    height: 100%;
    display: block;
  }
}

.carousel-control{
  width: 30px;
  height: 30px;
  margin-top: -20px;
  top: 50%;
  background: none;
  padding: 2rem;
  i{
    font-size: 40px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: #1b1e21;
  }
}

.carousel{
  .carousel-indicators{
    bottom: -40px;
    li, li .active{
      width:10px;
      height: 10px;
      margin:1px 3px ;
      border-radius: 50%;
    }
    li{
      background: #5a6268;
    }

  }
}

.card {
  border: none;
}

.input{
  border: none;
  border-bottom: 1px solid gray;
}

footer{
  background-color: #e8e8e8;
  a{
    color: #1b1e21;
  }
  a:hover{
    color: #1b1e21;
  }
  img{
    width: 30vh;
  }
}

.vision-section{
  background-color: $company-red;
  width: 100vw;
  margin: 0;
  padding: 4rem 8rem 4rem 8rem;
  color: whitesmoke;
}
.social-icon{
  padding-right: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .vision-section{
    padding: 4rem;
  }

  .jumbotron{
    .square{
      width: 30vw;
    }
    p{
      font-size: 1.3em;
    }
  }
}

.section-container{
  a{
    color: $company-red;
    padding-bottom: 2px;
  }
  a:hover{
    color: $company-red;
    text-decoration: none;
    border-bottom: 1px solid $company-red;
    padding-bottom: 2px;
  }
}


//footer
footer{
  p{
    a:hover{
      cursor: pointer;
    }
  }
}

//back to top button
